body {
    font-family: "segoe ui";
    font-size: 14px;
    color: #000000;
}
ul{
    padding: 0px;
}

.nav {
    background-color: #636e72;
    padding: 2px;
    list-style: none;
}

.nav-item {
    padding: 5px;
    display: inline;
}

.nav-link{
    color: #ffffff;
    text-decoration: none;
}

.inputs{
    border: solid;
    border-width: 1px;
    border-color: #bdc3c7;
    border-radius: 5px;
    padding: 5px;
    color: #34455e;

}
.inputs:focus{
    outline-color: #34455e;
}